<body>


  <div class="wrapper">
    <header>
      <nav class="navbar">
        
          <img src="./img/lekoo.png" class="logo">
        
        <ul class="menu">
          <li ><a class="active" href="#">HOME</a></li>
          <li><a href="#Acerca">Acerca de Mi</a></li>
          <li><a href="#Port">Portfolio</a></li>
          <li><a href="#Contacto">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="main"> 
      <div class="info-content">
        <h1>Soy <span>Leandro</span>Correa</h1>
        <p>En el complejo proceso de programar</p>
        <a download href="#">
          <button class="download-cv">Descargar CV</button>
        </a>
      </div> 
      <img src="./img/avatar.png" alt="Leko avatar"> 
      </main>
  </div>

 <div class="about">
  <img src="./img/galaxia54 (1).png" alt="Leko foto">
     
    <div class="about-info">
     <h2 id="Acerca">Acerca de mi</h2>
     <div class="divider"></div>
       <p> Hola soy Leandro Correa , vivo en Tucuman-Argentina.Estoy ingresando al mundo de la programacion , buscando un nuevo desafio personal ,academico y laboral. </p>
     <div class="container1">
         <div class="card1">
           <figure>
             <img src="img/APLogo-20-20.png" alt="">
           </figure>
           <div class="contenido">
             <h3>Curso intensivo Full Stack Developer</h3>
             <p>8 meses</p>
             <p>Cursando desde 2021</p>
           </div>
         </div>
         <div class="card1">
          <figure>
            <img src="img/coviello-transparente.png">
          </figure>
          <div class="contenido">
            <h3>Tecnico Superior en Desarrollo de Software</h3>
            <p>2 Año</p>
            <p>Cursando desde 2021</p>
         </div>
       </div>
     </div>
    </div>

  </div>

  <div class="portfolio">
    <div class="portfolio-headings">
     <h2 id="Port">Mi Portfolio</h2>
     <div class="divider"></div>
  </div>

    <div class="container">
      <div class="card">
        <div class="card__img">  
        </div>
        <div class="card__title">
          <h2>Portfolio para Argentina Programa-2022</h2>
        </div>
        <div class="card__projects__links">
          <a href="https://github.com/Lekko21/Portfolio-test2" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://htmlpreview.github.io/?https://github.com/Lekko21/Portfolio-test2/blob/main/index.html" target="_blank">
            <i class="fas fa-wifi"></i>
          </a>

        </div>
      </div>
    </div>

  </div>
  
  <div class="contact-section">
    <div class="contact-headings">
      <h2 >Contactame</h2>
      <div class="divider"></div>
    </div>

    

    <div class="container-contact">>
       <div class="contact-form">
         <h4 id="Contacto">Enviame un Mensaje </h4>
         <form class="form">
           <input type="text" placeholder="Nombre">
           <input type="email" placeholder="Email">
           <textarea placeholder="Deja un mensaje aqui">
           </textarea>
           <button class="btn-submit">Enviar Mensaje</button>
         </form>
       </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="footer-content">
      <h2>Leandro Correa</h2>
      <h5>Full Stack Developer Ultra Junior</h5>
    </div>
    <div class="social-network">
      <i class="fab fa-google"></i>
      <i class="fab fa-instagram"></i>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </footer>

</body>